* {
  margin: 0;
}

body {
  font-family: 'Helvetica Neue Thin', 'Merriweather', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue'), url(./fonts/HelveticaNeue.ttf), format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue Thin';
  src: local('Helvetica Neue Thin'), url(./fonts/HelveticaNeue\ Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: local('Helvetica Neue Medium'), url(./fonts/HelveticaNeue\ Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather-Light'), url(./fonts/Merriweather-Light.ttf) format('truetype');
}